<!DOCTYPE html>
<html>
	<head>
		<title>
			Neural Network Results
		</title>
		<!-- <link rel= "stylesheet" type="text/css" href="/stylesheets/app.css"> -->
		<!-- the / indicates that we should look for app.css in the root folder meaning outside of partials... so in public (layer outwards) -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
		<!-- We are including semantic-ui library which is like another bootstrap and our own css -->

		<style type="text/css">
			/* Container holding the image and the text */


			.containeer {
			  position: relative;
			  text-align: center;
			  color: black;
			}

			/* Bottom left text */
			.bottomLeft {
			  position: absolute;
			  bottom: 8px;
			  left: 16px;
			}

			/* Top left text */
			.topLeft {
			  position: absolute;
			  top: 8px;
			  left: 16px;
			}

			/* Top right text */
			.topRight {
			  position: absolute;
			  top: 8px;
			  right: 16px;
			}

			/* Bottom right text */
			.bottomRight {
			  position: absolute;
			  bottom: 8px;
			  right: 16px;
			}

			/* Centered text */
			.centeText {
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}

		</style>
	</head>
	<body>
		<div class="ui segment">
			<h1 class="ui huge header centered" >Neural Network Results and Analysis</h1>

			{%for img in payload[0]: %}

				{%if 'input_plot' in img:%}

					<h2 class="ui header centered">Input Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

				{%elif 'model_summary' in img:%}
					<h2 class="ui header centered">Model Summary</h2>
					<div class="containeer ui centered">

					  <!-- <div class="topLeft"> -->
					  	<p>
					  		Curve: <span>{{payload[1]['funct']}}</span>

					  	</p>
					  	<p>
					  		Range: [{{payload[1]['range0']}},{{payload[1]['range1']}}]

					  	</p>
					  	
				  		{%for i in range(payload[1]['layer_num']):%}
				  		<p>
				  			Layer {{ i+1}} Number of Units : {{payload[1]['units'+ i|string()]}}
				  		</p>
				  		<p>
				  			Layer {{ i+1}} Activation Function: {{payload[1]['activation'+ i|string()]}}
				  		</p>
				  		{% endfor %}
						
						<p>
					  		Optimizer: {{payload[1]['optimizer']}}
					  	</p>
					  	<p>
					  		Loss Function: {{payload[1]['loss']}}
					  	</p>
					  	<p>
					  		Batch Size: {{payload[1]['batch_size']}}
					  	</p>
					  	<p>
					  		Epochs: {{payload[1]['epochs']}}
					  	</p>
					  	<p>
					  		Validation Split: {{payload[1]['validation_split']}}
					  	</p>
					  <!-- </div> -->
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">

					</div>

				{%elif 'model' in img:%}
					<h2 class="ui header centered">Model Block Diagram</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

				{%elif 'error' in img:%}

					{%if 'loss' in img:%}
					<h2 class="ui header centered">Loss Function Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

					{%elif 'mean_absolute_percentage_error' in img:%}
					<h2 class="ui header centered">Mean Absolute Percentage Error Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

					{%elif 'mean_squared_error' in img:%}
					<h2 class="ui header centered">Mean Squared Error Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

					{%elif 'mean_squared_logarithmic_error' in img:%}
					<h2 class="ui header centered">Mean Squared Logarithmic Error Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

					{%elif 'root_mean_absolute_error' in img:%}
					<h2 class="ui header centered">Root Mean Absolute Error Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

					{%elif 'logcosh' in img:%}
					<h2 class="ui header centered">LogCosh Error Plot</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>
					{% endif %}

				{%elif 'prediction' in img:%}
					<h2 class="ui header centered">Model Prediction</h2>
					<div>
						<img class= "ui centered image" src="{{ url_for('static', filename='plots/' + img) }}" width="500" height="500">
					</div>

				{% endif %}

			{% endfor %}

			<div class="ui centered">
				
				<a href="/">New Config</a>

			</div>
		</div>
	</body>
	
</html>
  

